<h1>Groups#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>
<div id="app">
  <div id="hoge" data-messages="<%=@messages.to_json %>"></div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
